@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    background-image: url(/images/backgrounds/sep09.jpg);
    background-size: cover;
    
}



* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
:root {
    --cor1: #f3f3f4;
    --cor2: #b3001b;
    --cor3: #f0a1028c;
    --cor4: #353535;
    --cor5: #848c8e;

    --font-tittle: "Oswald", serif;
    --font-tittle-2: "Anton", serif;
    --font-p-1: "Roboto Condensed", serif;
    --font-p-2: "Inter", serif;

}


header {
   background-color: rgba(251, 251, 251, 0.973);
   padding: 20px 0px; 
    
}

ul { 
    display: flex;   
    justify-content: left;
    list-style: none;
}

ul a { 
    color: black;
    text-decoration: none;
    padding: 20px 12px;
    text-shadow: 1px 1px 1px 0px black;  
    font-size:1em;  
}

nav a:hover {
    background-color: rgba(119, 136, 153, 0.247);
    border-radius: 3px;
    transition-duration: 0.5s;
}
main {
    max-width: 600px;
    text-align: center;
    margin: auto;
    height: 100%;
    padding: 1em;
    background-color: rgba(251, 251, 251, 0.973);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.233);
}

#photo-credit { 
    font-size: 10px;
}


main h1 {

    text-align: center;
    font-family: var(--font-tittle-2);
    font-weight: lighter;
    color: black;
    font-size: 32px;
    margin: 50px -16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
    background-image: linear-gradient(to right, var(--cor3), transparent);

}

p {

    text-align: justify;
    text-indent: 5px;
    font: 1em var(--font-p-2);
    padding: 10px 0px;
    line-height: 2em;
    margin: 10px 0px;
    letter-spacing: 0.1em;
    font-weight: 300;
    
}


h2 {
    font-size: 18px;
    text-align: center;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 1em;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.212);
 }

.logo2 { 
    box-shadow: 0px 0px 0px white;
    
}

img { 
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.596)
}

.set-links { 
    justify-content: center;
    margin-top: 10px;
    gap: 12px;
}

.set-link { 
    padding: 12px;
    text-decoration: none;
    color: black;
    
    border: 1px solid rgba(0, 0, 0, 0.075) ;
    border-radius: 10px;
}

.set-link:hover { 
    background-color: rgba(119, 136, 153, 0.247);
}

.youtube-list { 
    justify-content: center;
    margin-top: 15px;
    gap: 12px;
}

.youtube-videos { 
    margin-top: 50px;
}

.youtube-links { 
    padding: 12px;
    text-decoration: none;
    color: black;    
    border: 1px solid rgba(0, 0, 0, 0.075) ;
    border-radius: 10px;
 
}

.youtube-links:hover { 
    background-color: rgba(119, 136, 153, 0.247);
}

.presskit {
    text-align: center;
    display: block;
    margin: auto;
    border: 1px solid black;
    padding: 8px;
    border-radius: 6px;
    background-color:black;
    color: white;
    width: 30%;
    margin-top: 2em;    
    text-decoration: none;    
}

.bio a {
    color: black;
    text-decoration: none;
}

.imprensa a {
    text-decoration: none;
    color: black;
}

.credito a {
    font-size: 10px;
    text-decoration: underline;
    color: black;
}


.bio a::after {
    content: '🔗';
}

.credito a::after {
    content: '🔗';
}


.imprensa a::after {
    content: '🔗';
}


.presskit:hover{
    text-decoration: underline;
    
}

.presskit a:hover{
    background-color: black;
}

footer p {
    text-align: center;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin-top: -1px;
    margin-bottom: -1px;
   
    text-align: center; 
    color: rgb(0, 0, 0);
    font-size: 10px;    
}

